Package: com.abstract.get-ssl-key-log
Name: get-ssl-key-log
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: lee
Author: lee
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
